<footer class="flex flex-row ms:flex-wrap bg-plomito">
    <div class="w-96 list-none text-white my-5 mx-5">
        <h1 class="text-center">Servicios</h1>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
    </div>
    <div class="w-96 list-none text-white my-5 mx-5">
        <h1 class="text-center">Servicios</h1>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
    </div>
    <div class="w-96 list-none text-white my-5 mx-5">
        <h1 class="text-center">Servicios</h1>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
        <li class="mx-5">servicio</li>
    </div>
    
</footer>
