---
import '@fontsource-variable/plus-jakarta-sans';
---

<div class="flex flex-row ms:flex-wrap pb-20">
    <div class="flex sm:flex-wrap place-content-betweenh-xxl w-auto text-white">
        <img 
        src="logo.svg"
        alt="Logo de la empresa Mora Montajes"
        class="w-547 animate-fade-down animate-duration-[3000ms] animate-delay-150">
    </div>
    <div id="xd" class="ms:flex-wrap w-auto mx-auto my-auto text-white">
        <h1 class="justify-center text-center text-4xl font-extrabold pb-5 animate-fade-down animate-duration-[3000ms] animate-delay-150">Mora Montajes</h1>
        <p class="w-96 justify-center text-center animate-fade-down animate-duration-[3000ms] animate-delay-150">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit aperiam ad ea amet quibusdam, veniam ipsa unde sit et quas, aspernatur voluptate debitis! Illum ea ut molestias ex labore in!
        </p>
    </div>
</div>

<style>
    div{
        
    }
</style>
