<section id="nosotros" class="flex flex-row ms:flex-wrap ms:w-full text-white font-semibold">
    <div class="w-full ms:w-full ">
        <h1 class="text-center font-extrabold text-4xl">Sobre Nosotros</h1>
    </div>
    <div class="w-mitad mt-10">
        <h3 class="text-start ml-20 mt-5 text-2xl">Conócenos</h3>
        <div class="w-547 ms:w-auto my-10 mx-20">
            <p class="text-xl mx-auto my-auto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet sint rem itaque minima ullam quidem ipsa at nemo id, modi accusamus cumque eaque corrupti eveniet ex architecto aut recusandae molestias?</p>
        </div>
    </div>
    <div class="w-mitad">
        <img src="https://okdiario.com/img/2018/04/27/como-soldar-aluminio-pasos-620x349.jpg" class=" w-96 mx-auto my-12 rounded-2xl" alt="">
    </div>
    <div class="flex flex-row ms:flex-wrap w-full h place-content-between">
        <div id="xd" class="flex ms:flex-wrap w-64 h-auto mx-20 my-10 bg-plomitoxd rounded-2xl hover:scale-105">
            <div class="mb-5 mx-auto">
                <img class="mx-auto w-20" src="/eye.svg" alt="">
            </div>
            <div class="text-center">
                <h3 class="mb-5">Mision</h3>
                <p class="text-center mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut libero qui molestias. Modi praesentium nulla accusantium maiores aperiam</p>
            </div>
        </div>
        <div id="xd" class="flex ms:flex-wrap w-64 h-auto mx-20 my-10 bg-plomitoxd rounded-2xl hover:scale-105">
            <div class="mb-5 mx-auto">
                <img class="mx-auto w-20" src="/eye.svg" alt="">
            </div>
            <div class="text-center">
                <h3 class="mb-5">Mision</h3>
                <p class="text-center mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut libero qui molestias. Modi praesentium nulla accusantium maiores aperiam</p>
            </div>
        </div>
        <div id="xd" class="flex ms:flex-wrap w-64 h-auto mx-20 my-10 bg-plomitoxd rounded-2xl hover:scale-105">
            <div class="mb-5 mx-auto">
                <img class="mx-auto w-20" src="/eye.svg" alt="">
            </div>
            <div class="text-center">
                <h3 class="mb-5">Mision</h3>
                <p class="text-center mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut libero qui molestias. Modi praesentium nulla accusantium maiores aperiam</p>
            </div>
        </div>
    </div>
</section>

