<section id="servicios" class="flex flex-row ms:flex-wrap  ms:w-full">
    <div class="text-white w-full my-5"> <!-- Contenedor Principal -->
        <h1 class="text-center mx-auto text-2xl">Aqui podras encontrar <span class="text-yellow-800">NUESTRAS MAQUINARIAS <span class="text-white">:</span> </span> </h1>
    </div>
    <div class="flex flex-row ms:flex-wrap place-content-between my-10"><!-- CONTENEDOR CARTAS -->
        <div id="xd" class="w-64 text-white rounded mx-20 my-10 shadow-xl shadow-white"><!-- CONTENEDOR CARTA -->
            <div> <!-- CONTENEDOR IMAGEN -->
                <img src="https://okdiario.com/img/2018/04/27/como-soldar-aluminio-pasos-620x349.jpg" class="w-80 rounded-b-none brightness-50 hover:brightness-100 hover:scale-125" alt="">
            </div>
            <div class="bg-cyan-950">
                <h1 class="text-center text-xl">Lorem</h1>
                <button class="ml-12 my-2 border-2 rounded-full bg-blue-600 border-none w-40 hover:animate-wiggle animate-infinite">
                    <a href="#servicios" class="p-1">Ver mas</a>
                </button>
            </div>
        </div>
        <div id="xd" class="w-64 text-white rounded mx-20 my-10 shadow-xl shadow-white"><!-- CONTENEDOR CARTA -->
            <div> <!-- CONTENEDOR IMAGEN -->
                <img src="https://okdiario.com/img/2018/04/27/como-soldar-aluminio-pasos-620x349.jpg" class="w-80 rounded-b-none brightness-50 hover:brightness-100 hover:scale-125" alt="">
            </div>
            <div class="bg-cyan-950">
                <h1 class="text-center text-xl">Lorem</h1>
                <button class="ml-12 my-2 border-2 rounded-full bg-blue-600 border-none w-40 hover:animate-wiggle animate-infinite">
                    <a href="#servicios" class="p-1">Ver mas</a>
                </button>
            </div>
        </div>
        <div id="xd" class="w-64 text-white rounded mx-20 my-10 shadow-xl shadow-white"><!-- CONTENEDOR CARTA -->
            <div> <!-- CONTENEDOR IMAGEN -->
                <img src="https://okdiario.com/img/2018/04/27/como-soldar-aluminio-pasos-620x349.jpg" class="w-80 rounded-b-none brightness-50 hover:brightness-100 hover:scale-125" alt="">
            </div>
            <div class="bg-cyan-950">
                <h1 class="text-center text-xl">Lorem</h1>
                <button class="ml-12 my-2 border-2 rounded-full bg-blue-600 border-none w-40 hover:animate-wiggle animate-infinite">
                    <a href="#servicios" class="p-1">Ver mas</a>
                </button>
            </div>
        </div>

        
    </div>
</section>

